.App {
  /* overflow-x: hidden; */
  height: 100%;
  padding-top: 4em;
  background-image:url("./assets/Subtract.svg"), url("./assets/bg-main.svg");
  background-size: 100%;
  background-repeat: repeat-y;
}
