.App {
  /* overflow-x: hidden; */
<<<<<<< HEAD
  height: 100%;
  padding-top: 4em;
  background-image:url("./assets/Subtract.svg"), url("./assets/bg-main.svg");
  background-size: 100%;
  background-repeat: repeat-y;
=======
  height: fit-content;
  padding-top: 4em;
>>>>>>> 3b693b58afe0a83ed7c8742ff2d3dd92d96e3ca7
}
