* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Libre Barcode 39", cursive;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101010;
  color: rgba(255, 255, 255, 0.88);
  text-align: center;
}

code {
  font-family: "Libre Barcode 39", cursive;
  font-family: "Poppins", sans-serif;
}
